<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-xs-12">
    <%= f.label :title, class: "col-xs-4 text-right" %>
    <div class="col-xs-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="field form-group col-xs-12">
    <%= f.label :content, class: "col-xs-4 text-right" %>
    <div class="col-xs-8">
      <%= f.text_area :content, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
